*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2A5D5A;
}

.title{
    font-weight: 700;
    font-size: 64px;
   line-height: 77px;
    background-color: #311313;
    display: inline;
    padding-top: 24px;
    padding-left: 28px;
    padding-bottom: 23px;
    padding-right: 17px;
    color: white;
}

.title-wrapper{
    text-align: center;
    padding: 22px;
}
.name{
    margin: 40;
    width: 636px;
    border: 10px;
    font-weight: 10px ;
}
.name{
    background-color: red;
    color: white;
    background-color: black ;
    padding: 9px;
    text-align: center;
    margin-top: 40px;
    margin-left: 320px;
} 
h4{
    background-color: rgb(12, 245, 233);
    border: 8px solid red;
    color: black;
    font-weight: 5000px;
    padding: 20px;
}
h4{
    background-color: aqua;
    color: black;
    padding: 20px;
    font-weight: 5000px;
}



